@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&family=Source+Sans+Pro&display=swap');

* {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

a {
  color: #646464;
  border-bottom: 1px dotted hsla(0,0%,63%,.65);
  text-decoration: none;
}

a.link {
  border-bottom: 0;
}

a.download {
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid hsla(0,0%,63%,.3);
  display: flex;
  height: 3.5em;
  line-height: 3.5em;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.name_container {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 1.5rem;
  border-right: 1px solid hsla(0,0%,63%,.3);
}

.name {
  color: #3c3b3b;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 0.7em;
  letter-spacing: .25em;
  background-color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0;
}

.links {
  display: flex;
  background-color: #fff;
  list-style-type: none;
  align-items: center;
}

.links > li:nth-child(1) > a {
  border-left: 0px;
}

.link {
  border-left: 1px solid hsla(0,0%,63%,.3);
  display: flex;
  background-color: #fff;
  font-family: 'Raleway';
  font-size: .7em;
  font-weight: 400;
  letter-spacing: .25em;
  text-transform: uppercase;
  text-decoration: none;
  color: #646464;
  padding: 0rem 1rem;
  line-height: 1.5;
  border-bottom: 0;
}

.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 3em;
  margin-top: 3.5em;
  min-width: 22em;
  width: 22em;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #fff;
  border: 1px solid hsla(0,0%,63%,.3);
  margin: 0 0 3em;
  padding: 3em 0em 0em;
  margin-top: 3.5em;
}

.me {
  border-radius: 50%;
  width: 10em;
  margin-bottom: 1rem;;
}

.name_header {
  color: #3c3b3b;
  font-family: 'Raleway';
  font-weight: 900;
  letter-spacing: .25em;
  line-height: 1.65;
  font-size: 1.5em;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.email {
  color: #646464;
  font-family: 'Raleway';
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
}

.email_link {
  border-bottom: 1px dotted hsla(0,0%,63%,.65);
  color: inherit;
  text-decoration: none;
  transition: color .2s ease,border-bottom-color .2s ease;
}

.content {
  margin: 3em;
  display: flex;
  justify-content: center;
}

.blurb {
  border-top: 1px solid hsla(0,0%,63%,.3);
  margin: 3em 0 0;
  padding: 3em 0 0;
}

.subtitle {
  color: #3c3b3b;
  font-family: 'Raleway';
  font-weight: 800;
  letter-spacing: .25em;
  line-height: 1.65;
  font-size: .8em;
  margin: 0 0 1.5em;
  text-transform: uppercase;
}

.blurb > p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #646464;
  font-family: 'Source Sans Pro';
  margin: 0 0 2em;
  line-height: 1.75;
  text-align: justify;
}

.button {
  appearance: none;
  background-color: transparent;
  border: 0;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 63% / 30%);
  color: #3c3b3b!important;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway,Helvetica,sans-serif;
  font-size: .6em;
  font-weight: 800;
  height: 4.8125em;
  width: 8rem;
  letter-spacing: .25em;
  line-height: 4.8125em;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  border-top: 1px solid hsla(0,0%,63%,.3);
  margin: 3em 0 0;
  padding: 3em 0 0;
}

.main_title {
  background-color: #fff;
  border-bottom: 1px solid hsla(0,0%,63%,.3);
  display: flex;
  flex-direction: column;
  margin: -3em 0 3em;
  padding: 3.75em 3em 3.3em;
}

.main_title > .title {
  color: #3c3b3b;
  font-family: Raleway,Helvetica,sans-serif;
  font-weight: 800;
  letter-spacing: .25em;
  line-height: 1.65;
  margin: 0 0 1em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 900;
  background-color: inherit;
}

.main_title > p {
  font-family: Raleway,Helvetica,sans-serif;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
  background-color: inherit;
  color: #646464;
}

.main_content {
  display: flex;
  gap: 2rem 0px;
  background-color: #fff;
  flex-direction: column;
  padding: 0em 3em 0em;
}

.main_content > p {
  color: #646464;
  background-color: #fff;
  font-family: Source Sans Pro,Helvetica,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 0 3em;
}

.main_content > p > a {
  background-color: #fff;
}

h3 {
  color: #3c3b3b;
  font-family: Raleway,Helvetica,sans-serif;
  font-weight: 800;
  font-size: .9em;
  letter-spacing: .25em;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  padding-bottom: 0.8rem;
}

.main_section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 0.5rem 0px;
}

.main_section > p {
  color: #646464;
  background-color: #fff;
  font-family: Source Sans Pro,Helvetica,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 0 2em;
}

.main_section > p > a {
  background-color: #fff;
}

p.school > a {
  background-color: #fff;
}

h4 {
  color: #3c3b3b;
  font-family: Raleway,Helvetica,sans-serif;
  font-weight: 800;
  letter-spacing: .25em;
  line-height: 1.65;
  text-transform: uppercase;
  font-size: .7em;
  background-color: #fff;
}

h4 > a {
  background-color: inherit;
}

ul.points {
  list-style: disc;
  padding: 0 0 2em;
  padding-left: 1em;
  background-color: #fff;
  font-size: 0.9em;
  color: #646464;
}

ul.hobbies {
  list-style: disc;
  padding: 0 0 2em;
  padding-left: 1em;
  background-color: #fff;
  font-size: 1rem;
  font-family: 'Source Sans Pro';
  color: #646464;
}

ul.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  justify-content: center;
  background-color: #fff;
}

iframe {
  width: 420px;
  height: 315px;
}

ul > li {
  background-color: #fff;
}

.gallery > img {
  object-fit: cover;
  object-position: 0% 100%;
}

.gallery > img:nth-child(3) {
  object-position: 0% 60%;
}

p.desc {
  font-family: Raleway,Helvetica,sans-serif;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
  background-color: #fff;
  padding-top: 0.5rem;
  color: #646464;
}

ul.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31.85px 112.89px;
  max-width: 900px;
  margin-bottom: 68px;
  background-color: #fff;
  align-self: center;
}

li.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.skill-category > h4 {
  margin-bottom: 1.5rem;
}

li.skill-category > ul > li {
  list-style-type: none;
}

ul.skills > li {
  list-style-type: none;
  flex-grow: 1;
	width: 10%;
  background-color: #fff;
}

li > img {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  background-color: #fff;
}

.hamburger {
  display: none;
}

.closebtn {
  display: none;
}

.mini_post {
  background: #fff;
  border: 1px solid hsla(0,0%,63%,.3);
  display: flex;
  flex-direction: column;
  margin: 0 2em 2em;
}

.mini_post header {
  flex-grow: 1;
  min-height: 4em;
  padding: 1.25em 4.25em 0.1em 1.25em;
  z-index: 2;
  background: #fff;
}

header h3 a {
  background: #fff;
  border-bottom: 0;
}

.published {
  font-family: Raleway,Helvetica,sans-serif;
  font-size: .6em;
  font-weight: 400;
  letter-spacing: .25em;
  margin: -0.625em 0 1.7em;
  text-transform: uppercase;
  background: #fff;
}

.image {
  border-bottom: 0;
}

.image img {
  width: 100%;
}

.description {
  border-top: 1px solid hsla(0,0%,63%,.3);
}

.description p {
  color: #3c3b3b;
  font-family: Raleway,Helvetica,sans-serif;
  font-size: .9rem;
  padding: 1.25em;
}

.project_title {
  text-align: left;
}

.icons {
  display: flex;
  gap: 0px 15px;
  cursor: default;
  list-style: none;
  padding-left: 0;
  background-color: #fff;
  right: 0;
  position: absolute;
  padding-right: 1.5em;
}

.icons > li {
  background-color: #fff;
}

.icons > li > a {
  background-color: #fff;
  border-bottom: 0;
}

.icons > li > a > img {
  background-color: #fff;
}

label {
  background-color: #fff;
  font-size: 1.2em;
}

input {
  background-color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 1em;
}

td > input {
  font-size: 1.2em;
}

form {
  background-color: #fff;
}

#submit {
  padding: 0.3em;
  font-weight: bold;
  cursor: pointer;
  background-color: #0078e7;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 0.3em 0.5em;
}

#clear {
  padding: 0.3em;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(66, 184, 221);
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 0.3em 0.5em;
}

#cancel {
  padding: 0.3em;
  font-weight: bold;
  cursor: pointer;
  background: rgb(202, 60, 60);
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 0.3em 0.5em;
}

.buttons {
  background-color: #fff;
  display: flex;
  gap: 0em 0.8em;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  background-color: #fff;
  font-size: 1em;
  font-family: 'Source Sans Pro';
  color: #646464;
  border-spacing: 1em 0.5em;
  margin-bottom: 1em;
}

th {
  background-color: #fff;
  font-size: .8em;
  letter-spacing: .16em;
  text-transform: none;
  font-weight: 700;
  color: #3c3b3b;
  font-family: Raleway,Helvetica,sans-serif;
  line-height: 1.65;
}

td {
  background-color: #fff;
  font-size: .8em;
  letter-spacing: .16em;
  text-transform: none;
  font-weight: 400;
  color: #3c3b3b;
  font-family: Raleway,Helvetica,sans-serif;
  line-height: 1.65;
  text-align: left;
}

td > a {
  background-color: #fff;
}

tr {
  text-align: left;
}

.course-infos {
  background-color: #fff;
}

footer {
  border: 1px solid hsla(0,0%,63%,.3);
  padding: 1em;
  display: flex;
  justify-content: center;
  color: #646464;
  font-family: 'Source Sans Pro';
}

.audio {
  display: flex;
  flex-direction: column;
}

.audio span {
  background-color: #fff;
  font-family: 'Source Sans Pro';
}

/* Layout changed to column for mobile devices */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  li > img {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    background-color: #fff;
  }

  .sidebar {
    width: 100%;
  }

  .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/* Changed navbar to hamburger menu */
@media (max-width: 1280px) {
  .content {
    margin: 3em 1em;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    height: 80%;
    transition: all 0.3s ease;
		box-shadow: 8px 8px 20px #c3c3c3, -8px -8px 20px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    display: none;
    overflow: scroll;
  }
  
  .name_container {
    border-right: 0;
  }

  .link {
    border-left: 0;
    font-size: 1em;
  }

  .closebtn {
    display: block;
    position: absolute;
    right: 0; 
    top: 0;
    margin-right: 1em;
    background: #fff;
    cursor: pointer;
    background: #fff;
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .25em;
  }
  
  .hamburger {
    display: block;
    position: absolute;
    right: 0; 
    z-index: 999;
    margin-right: 1em;
    background: #fff;
    cursor: pointer;
  }
  
  .icons {
    position: relative;
    padding-right: 0px;
  }
}